<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MireWpf.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <MireWpf.Properties.Settings>
            <setting name="SettingsChartType" serializeAs="String">
                <value>0</value>
            </setting>
          <setting name="SettingsUnitType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SettingsShowVoile" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Settings
                     " serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingsShowMinMax" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SettingsShowPosition" serializeAs="String">
                <value>1</value>
            </setting>
        </MireWpf.Properties.Settings>
    </userSettings>
</configuration>
